<aside id="top-bar-sidebar"
  class="fixed top-0 left-0 z-9998 w-64 h-full transition-transform -translate-x-full sm:translate-x-0 bg-white border-r border-gray-200 shadow-sm"
  aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-white">
    <a href="/user/list/" class="flex items-center ps-2.5 mb-5">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 me-3" alt="Logo" />
      <span class="self-center text-lg text-heading font-semibold whitespace-nowrap" >ITE 2</span>
    </a>  

    <ul class="space-y-2 font-medium">
      <li>
        <a href="/gender/list/" class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-gray-200 hover:text-blue-600 group">
          <svg class="w-5 h-5 transition duration-75 group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h16v16H4V4Zm4 5h8M8 13h8M8 17h5"/>
          </svg>
          <span class="ms-3">Gender List</span>
        </a>
      </li>
      <li>
        <a href="/gender/add/" class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-gray-200 hover:text-blue-600 group">
          <svg class="w-5 h-5 transition duration-75 group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m7-7H5"/>
          </svg>
          <span class="ms-3">Add Gender</span>
        </a>
      </li>
      <li>
        <a href="/user/list/" class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-gray-200 hover:text-blue-600 group">
          <svg class="w-5 h-5 transition duration-75 group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2M8 14H6a3 3 0 0 0-3 3v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3H8Zm0-4a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>
          <span class="ms-3">User List</span>
        </a>
      </li>
      <li>
        <a href="/user/add/" class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-gray-200 hover:text-blue-600 group">
          <svg class="w-5 h-5 transition duration-75 group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 19h4m-2-2v4M8 14H6a3 3 0 0 0-3 3v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3H8Zm0-4a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>
          <span class="ms-3">Add User</span>
        </a>
      </li>
    </ul>
    
  </div>
</aside>